.single-container

  = render partial:"devise/header"

  %nav.progress-bar.signup-bar
    %ol.clearfix
      %li.active
        会員登録
        %div.progress-status
      %li
        電話番号認証
        %div.progress-status
      %li
        お届け先住所入力
        %div.progress-status
      %li
        支払い方法
        %div.progress-status
      %li
        完了
        %div.progress-status

  %main.single-main
    %section.l-single-container
      %h2.l-single-head.registration 会員情報入力
      %form{action: "https://www.mercari.com/jp/signup/sms_confirmation/?after_save_callback=/jp/", method: "POST", class:"l-single-inner registration-form", novalidate: "novalidate"}
        %input{type: "hidden", name: "__csrf_value", value:"1e07299d9cc4685dd7d8fddc752091c92c45911326c730f8703e5ed95a7811cab7a365a8421cdd97d1d1c61169c41f13f84de4769787f09dd8e9832fc038c8ca6"}
        
        .l-single-content
          .form-group
            %label{for: "nickname"} ニックネーム
            %span.form-require 必須
            %input{type: "text", name: "nickname", value:"", placeholder:"例) さとうワタワタ", class:"input-default"}
          .form-group
            %label{for: "email"} メールアドレス
            %span.form-require 必須
            %input{type: "email", name: "email", value:"", placeholder:"PC・携帯どちらでも可", class:"input-default"}
            %input{type: "hidden", name: "login_type", value:""}     
          .form-group
            %label{for: "password"} パスワード
            %span.form-require 必須
            %input{type: "password", name: "password", value:"", placeholder:"7文字以上", class:"input-default"}            
          .form-group
            %label{for: "password"} パスワード (確認)
            %span.form-require 必須
            %input{type: "password", name: "password2", value:"", placeholder:"7文字以上", class:"input-default"}   
          .form-group
            %h3.text-left.l-chapter-sub-head 本人確認
            %p.l-single-text
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .form-group
            %div
              %label お名前(全角)
              %span.form-require 必須
            %input{type: "text", name: "family_name_kanji", value:"", placeholder:"例) 佐藤", class:"input-default half"}
            %input{type: "text", name: "first_name_kanji", value:"", placeholder:"例) 航", class:"input-default half"}
          .form-group
            %div
              %label{for: "family_name_kanji"} お名前カナ(全角)
              %span.form-require 必須
            %input{type: "text", name: "family_name_kana", value:"", placeholder:"例) サトウ", class:"input-default half"}
            %input{type: "text", name: "first_name_kana", value:"", placeholder:"例) ワタル", class:"input-default half"}
          .form-group
            %label{for: "birthday"} 生年月日
            %span.form-require 必須
            %div.birthday-select-wrap
              %div.select-wrap
                %i.icon-arrow-bottom
                = form_with model: @profile, local: true do |f|
                  != sprintf(f.date_select(:birthday, prefix:'birthday',with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
                  %input{type: "hidden", name: "birthday", value:""}
            %div.clearfix
          %p.form-info-text
          ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          
        .l-single-content  
          %input{type: "hidden", name: "after_save_callback", value:"/jp/"}
          .form-group
            .g-recaptcha.signup-recaptcha
              %div(style='width: 304px; height: 78px;')
                %div
                  %iframe(src="https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1566858990656&size=normal&cb=5g00cprq2rp" width="304" height="78" role="presentation" name="a-n3piekgusv8m" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox")
                %textarea{id: "g-recaptcha-response", name: "g-recaptcha-response", class: "g-recaptcha-response", style:"width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;" }
          .form-group
            %p.l-single-text.text-center 「次へ進む」のボタンを押すことにより、
            = link_to'', class: '',target:'_blank' do
              利用規約
            に同意したものとみなします
          %button{type: "submit", class: "btn-default btn-red" }次へ進む
          .form-group.text-right
            %p
            = link_to'', class: '',target:'_blank' do
              本人情報の登録について
            %i.icon-arrow-right

  = render partial:"devise/footer"