.single-container

  = render partial:"devise/header"

  %nav.progress-bar.signup-bar
    %ol.clearfix
      %li.active
        会員登録
        %div.progress-status
      %li
        電話番号認証
        %div.progress-status
      %li
        お届け先住所入力
        %div.progress-status
      %li
        支払い方法
        %div.progress-status
      %li
        完了
        %div.progress-status

  %main.single-main
    %section.l-single-container
      %h2.l-single-head.registration 会員情報入力
      = form_with  model: @user, url:step2_signup_index_path, method: :get, class: 'l-single-inner registration-form', local: true do |f|
        = hidden_field_tag :current_step, 'step1'
        %input{name: "__csrf_value", type: "hidden", value: ""}

        .l-single-content
          .form-group
            = f.label "ニックネーム"
            %span.form-require 必須
            .field-input              
              = f.text_field :nickname, autofocus: true, autocomplete: "nickname",class:"input-default",placeholder: "例) 佐藤 ワタワタ"

          .form-group
            = f.label "メールアドレス"
            %span.form-require 必須
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "input-default", placeholder:"PC・携帯どちらでも可"
            
          .form-group
            = f.label "パスワード"
            %span.form-require 必須
            = f.password_field :password, autofocus: true, autocomplete: "password", class: "input-default", placeholder:"7文字以上"
          .form-group

            = f.label "パスワード(確認用)"
            %span.form-require 必須
            = f.password_field :password_confirmation, autofocus: true, autocomplete: "password_confirmation", class: "input-default", placeholder:"7文字以上"

          .form-group
            %h3.text-left.l-chapter-sub-head 本人確認
            %p.l-single-text
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。


          .form-group
            %div
              = f.label "お名前(全角)"
              %span.form-require 必須
            = f.text_field :family_name_kanji, autofocus: true, class:"input-default half",placeholder: "例) 佐藤"
            = f.text_field :first_name_kanji, autofocus: true, class:"input-default half",placeholder: "例) 航"


          .form-group
            %div
              = f.label "お名前カナ(全角)"
              %span.form-require 必須
            = f.text_field :family_name_kana, autofocus: true,class:"input-default half",placeholder: "例) サトウ"
            = f.text_field :first_name_kana, autofocus: true,class:"input-default half",placeholder: "例) ワタル"

          .form-group
            %div.birthday-select-wrap
              %div.select-wrap
                %i.icon-arrow-bottom
            = f.label "生年月日"
            %span.form-require 必須
            %div.birthday-select-wrap
              %div.select-wrap
                = f.select :birth_year, [*1900..2019], {prompt: "---"}, autofocus: true, class: 'select-default'
              %span 年
              %div.select-wrap
                = f.select :birth_month, [*1..12], {prompt: "---"}, autofocus: true, class: 'select-default'
              %span 月
              %div.select-wrap
                = f.select :birth_day, [*1..31], {prompt: "---"}, autofocus: true, class: 'select-default'
              %span 日
                  
            %div.clearfix
          %p.form-info-text
          ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          
        .l-single-content  
          %input{type: "hidden", name: "after_save_callback", value:"/jp/"}
            %p.l-single-text.text-center 「次へ進む」のボタンを押すことにより、
            = link_to'', class: '',target:'_blank' do
              利用規約
            に同意したものとみなします
          = f.submit "次へ進む", class: "btn-default btn-red"
          .form-group.text-right__content
            %p
            = link_to'', class: '',target:'_blank' do
              本人情報の登録について
            %i.icon-arrow-right

  = render partial:"devise/footer"