.single-container
  = render partial:"devise/header"

  %nav.progress-bar.signup-bar
    %ol.clearfix
      %li.through
        会員登録
        %div.progress-status
      %li.through
        電話番号認証
        %div.progress-status
      %li.active
        お届け先住所入力
        %div.progress-status
      %li
        支払い方法
        %div.progress-status
      %li
        完了
        %div.progress-status

  %main.single-main
    %section.l-single-container
      %h2.l-single-head.registration 発送元・お届け先住所入力
      = form_with model: @user, url:signup_index_path, method: :post, class: 'l-single-inner registration-form', local: true do |f|
        = hidden_field_tag :current_step, 'step4'
        %input{type: "hidden", name: "__csrf_value", value:""}
    
        .l-single-content
          .form-group
            = f.label "お名前" 
            %span.form-require 必須
            = f.text_field :family_name_kanji, class:"input-default",placeholder: "森田"
            = f.text_field :first_name_kanji, class:"input-default",placeholder: "大陽"

            = f.label "お名前カナ"
            %span.form-require 必須
            = f.text_field :family_name_kana, class:"input-default",placeholder: "モリタ"
            = f.text_field :first_name_kana, class:"input-default",placeholder: "ヒロアキ"

          .form-group
            = f.label "郵便番号"
            %span.form-require 必須
            = f.text_field :postal_code, autofocus: true, class:"input-default",placeholder: "例)123-4567"
  
          .form-group
            = f.label "都道府県"
            %span.form-require 必須
            = f.collection_select :prefecture_id, Prefecture.all, :id, :name, { prompt: "---" }, class: "input-default"

            .form-group
              = f.label "市区町村"
              %span.form-require 必須
              = f.text_field :city, autofocus: true, class:"input-default", placeholder: "例)埼玉県久喜市" 

            .form-group
              = f.label "番地"
              %span.form-require 必須
              = f.text_field :house_number, autofocus: true,class:"input-default",placeholder: "例)青山1-1-1" 

            .form-group
              = f.label "建物名"
              %span.form-require.any 任意
              = f.text_field :building, autofocus: true, class:"input-default", placeholder: "例)森ビル3103"  

            .form-group
              = f.label "電話番号"
              %span.form-require.any 任意
              = f.text_field :phone_number, autofocus: true,class:"input-default",placeholder: "例)08012345678"  
            = f.submit "次へ進む", class: "btn-default btn-red"


  = render partial:"devise/footer"