= fa_icon "bars",class: "menu_icon"  
= link_to 'カテゴリーから探す', '#'
%ul.sub
  %li
    = link_to 'レディース', '#'
    %ul.sub
      %li
        = link_to 'トップス', '#'
        %ul.sub
          %li
            = link_to 'Tシャツ/カットソー(半袖/袖なし)', '#'
          %li
            = link_to 'Tシャツ/カットソー(七分/長袖)', '#'
          %li
            = link_to 'その他', '#'
      %li
        = link_to 'ジャケット/アウター', '#'
        %ul.sub
          %li
            = link_to 'テーラードジャケット', '#'
          %li
            = link_to 'ノーカラージャケット', '#'
          %li
            = link_to 'その他', '#'
  %li
    = link_to 'メンズ', '#'
    %ul.sub
      %li
        = link_to 'トップス', '#'
        %ul.sub
          %li
            = link_to 'Tシャツ/カットソー(半袖/袖なし)', '#'
          %li
            = link_to 'Tシャツ/カットソー(七分/長袖)', '#'
          %li
            = link_to 'その他', '#'
      %li
        = link_to 'ジャケット/アウター', '#'
        %ul.sub
          %li
            = link_to 'コート', '#'
          %li
            = link_to 'ジャケット/上着', '#'
          %li
            = link_to 'トップス(その他)', '#'
  %li
    = link_to '家電・スマホ・カメラ', '#'
    %ul.sub
      %li
        = link_to 'スマートフォン/携帯電話', '#'
        %ul.sub
          %li
            = link_to 'スマートフォン本体', '#'
          %li
            = link_to 'バッテリー/充電器', '#'
          %li
            = link_to '携帯電話本体', '#'
          %li
            = link_to 'その他', '#'
      %li
        = link_to 'スマホアクセサリー', '#'
        %ul.sub
          %li
            = link_to 'Android用ケース', '#'
          %li
            = link_to 'iPhone用ケース', '#'
          %li
            = link_to 'カバー', '#'
          %li
            = link_to 'イヤホンジャック', '#'
          %li
            = link_to 'ストラップ', '#'
          %li
            = link_to 'フィルム', '#'
          %li
            = link_to '自撮り棒', '#'
          %li
            = link_to 'その他', '#'
      %li
        = link_to 'PC/タブレット', '#'
        %ul.sub
          %li
            = link_to 'タブレット', '#'
          %li
            = link_to 'ノートPC', '#'
          %li
            = link_to 'デスクトップ型PC', '#'
          %li
            = link_to 'ディスプレイ', '#'
          %li
            = link_to 'PC周辺機器', '#'
          %li
            = link_to 'その他', '#'
  %li
    = link_to 'おもちゃ・ホビー・グッズ', '#'
    %ul.sub
      %li
        = link_to 'おもちゃ', '#'
        %ul.sub
          %li
            = link_to 'キャラクターグッズ', '#'
          %li
            = link_to 'ぬいぐるみ', '#'
          %li
            = link_to '小物/アクセサリー', '#'
          %li
            = link_to 'その他', '#'
      %li
        = link_to 'コミック/アニメグッズ', '#'
        %ul.sub
          %li
            = link_to 'ストラップ', '#'
          %li
            = link_to 'キーホルダー', '#'
          %li
            = link_to 'バッジ', '#'
          %li
            = link_to 'カード', '#'
          %li
            = link_to 'クリアファイル', '#'
          %li
            = link_to 'その他', '#'
      %li
        = link_to 'その他', '#'
        %ul.sub
          %li
            = link_to 'トランプ/UNO', '#'
          %li
            = link_to 'ダーツ', '#'
          %li
            = link_to '麻雀', '#'
          %li
            = link_to 'パズル/ジグソーパズル', '#'
          %li
            = link_to '囲碁/将棋', '#'
          %li
            = link_to 'オセロ/チェス', '#'
          %li
            = link_to 'その他', '#'

  %li
    = link_to 'その他', '#'
    %ul.sub
      %li
        = link_to '食品', '#'
        %ul.sub
          %li
            = link_to '菓子', '#'
          %li
            = link_to '米', '#'
          %li
            = link_to 'その他', '#'
      %li
        = link_to '飲料/酒', '#'
        %ul.sub
          %li
            = link_to 'コーヒー', '#'
          %li
            = link_to 'ソフトドリンク', '#'
          %li
            = link_to 'その他', '#'

%li
  = fa_icon "tags",class: "menu_icon" 
  = link_to 'ブランドから探す', '#' 
  %ul.sub
    %li
      = link_to 'シャネル', '#'
    %li
      = link_to 'ルイヴィトン', '#'
    %li
      = link_to 'シュプリーム', '#'