    
.common_header
  .common_header__box
    .common_header__box__top
      %h1.common_header__box__top__logo
        = link_to root_path do
          = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3270184656", size: "134x36", alt: "メルカリロゴ", class: "common_header__box__top__image"
      = search_form_for @q, url: search_items_path, class: 'item_search' do |f|
        .search_field
          -# = f.text_field @keyword, class: 'form_search', placeholder: '何かお探しですか？'
          -# - binding.pry
          = f.text_field @keyword, class: 'form_search', placeholder: '何かお探しですか？'
          %label.search-label{for: "search-icon"}
            %i.fa.fa-search
            = f.submit '', id: "search-icon"
           
             
    .common_header__box__nav
      .common_header__box__nav__left
        %ul.menu
          %li
            = render partial: 'shared/category_drop'

        - if user_signed_in?
          .common_header__box__nav__right
            %li.common_header__box__nav__right__content__list
              =link_to "/mypage" do
                .common_header__box__nav__right__content__list__link
                  .common_header__box__nav__right__content__list__mypagelist いいね！一覧
                  .common_header__box__nav__right__content__list__mypagelist お知らせ
                  .common_header__box__nav__right__content__list__mypagelist やることリスト
                  .common_header__box__nav__right__content__list__mypagelist マイページ
        - else
          %ul.input
            %li
              = link_to '新規会員登録', '/users/sign_up', class: 'new-create-user'
            %li
              = link_to 'ログイン', '/users/sign_in', class: 'login-user-box'
