    
.header
  .header__box
    .header__box__top
      %h1.header__box__top__logo
        = link_to root_path do
          = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3270184656", size: "134x36", alt: "メルカリロゴ", class: "header__box__top__link__image"
      = form_with url: root_path, method: :get, local: true do |f|
        = f.text_field :keyword, class: 'form__search', placeholder: 'お探しですか？',name: 'keyword',type:'search'
        %label.search-label{for: "search-icon"}
          %i.fa.fa-search
          = f.submit '', id: "search-icon"
            
    .header__box__nav
      .header__box__nav__left
        %ul.menu
          %li
            = fa_icon "bars",class: "menu_icon"  
            = link_to 'カテゴリーから探す', '#'
            %ul.sub
              %li
                = link_to 'レディース', '#'
                %ul.sub
                  %li
                    = link_to 'トップス', '#'
                    %ul.sub
                      %li
                        = link_to 'Tシャツ', '#'
                      %li
                        = link_to 'ポロシャツ', '#'
                      %li
                        = link_to 'パーカー', '#'
                  %li
                    = link_to 'パンツ', '#'
                    %ul.sub
                      %li
                        = link_to 'デニム', '#'
                      %li
                        = link_to 'ショートパンツ', '#'
                      %li
                        = link_to 'チノパン', '#'
                  %li
                    = link_to 'スカート', '#'
                    %ul.sub
                      %li
                        = link_to 'ミニスカート', '#'
                      %li
                        = link_to 'ロングスカート', '#'
                      %li
                        = link_to 'キュロット', '#'
              %li
                = link_to 'メンズ', '#'
                %ul.sub
                  %li
                    = link_to 'トップス', '#'
                    %ul.sub
                      %li
                        = link_to 'シャツ', '#'
                      %li
                        = link_to 'タンクトップ', '#'
                      %li
                        = link_to 'ベスト', '#'
                  %li
                    = link_to 'パンツ', '#'
                    %ul.sub
                      %li
                        = link_to 'ジーンズ', '#'
                      %li
                        = link_to 'スラックス', '#'
                      %li
                        = link_to 'カーゴパンツ', '#'
                  %li
                    = link_to '靴', '#'
                    %ul.sub
                      %li
                        = link_to 'スニーカー', '#'
                      %li
                        = link_to 'サンダル', '#'
                      %li
                        = link_to 'ブーツ', '#'
              %li
                = link_to '家電・スマホ・カメラ', '#'
                %ul.sub
                  %li
                    = link_to 'スマートフォン', '#'
                    %ul.sub
                      %li
                        = link_to '本体', '#'
                      %li
                        = link_to 'バッテリー', '#'
                      %li
                        = link_to 'その他', '#'
                  %li
                    = link_to 'PC', '#'
                    %ul.sub
                      %li
                        = link_to 'ノートPC', '#'
                      %li
                        = link_to 'デスクトップPC', '#'
                      %li
                        = link_to 'その他', '#'
                  %li
                    = link_to 'カメラ', '#'
                    %ul.sub
                      %li
                        = link_to 'デジタルカメラ', '#'
                      %li
                        = link_to 'ビデオカメラ', '#'
                      %li
                        = link_to 'その他', '#'
            %li
              = fa_icon "tags",class: "menu_icon" 
              = link_to 'ブランドから探す', '#' 
              %ul.sub
                %li
                  = link_to 'シャネル', '#'
                %li
                  = link_to 'ルイヴィトン', '#'
                %li
                  = link_to 'シュプリーム', '#'
                  
        - if user_signed_in?
          .header__box__nav__right
            %li.header__box__nav__right__content__list
              =link_to "/mypage" do
                .header__box__nav__right__content__list__link
                  .header__box__nav__right__content__list__mypagelist いいね！一覧
                  .header__box__nav__right__content__list__mypagelist お知らせ
                  .header__box__nav__right__content__list__mypagelist やることリスト
                  .header__box__nav__right__content__list__mypagelist マイページ
        - else
          %ul.input
            %li
              = link_to '新規会員登録', '/users/sign_up', class: 'new-create-user'
            %li
              = link_to 'ログイン', '/users/sign_in', class: 'login-user-box'
