.card
  .item
  =link_to item_path(item.id), method: :get do
    .item__detail
      .item__detail__image
        = image_tag "#{item.images.first.image}", alt: '商品画像', height:'188', width:'185'
      // business_statusが2(購入済)ならSOLDを表示する
      - if item.business_status == "sale"
        .triangle_box
          .triangle_box__sold_triangle
            .triangle_box__sold_triangle__text SOLD
      .item__detail__price
        %span= "¥ #{number_with_delimiter(item.price)}"
    .item__explanation
      %span= item.name
      .item__explanation__review
        %i.fa.fa-heart
        %span