.single-container

  = render partial:"devise/header"
  
  %main.single-main
    .login-panel
      = form_for(resource, as: resource_name, url: session_path(resource_name), ) do |f|
        .login-no-account
          %p アカウントをお持ちでない方はこちら
          = link_to'/users/sign_up', class: 'sign_up' do
            新規会員登録
        .login-form-inner
          .form-group
            %button{id: "facebook-login", class: "btn-default btn-sns btn-sns-facebook" }
              = link_to'/users/auth/facebook', method: :post, class: 'facebook' do
                = fa_icon "facebook-square"
                Facebookでログイン
            
          .form-group
            %button{id: "google-login", class: "btn-default btn-sns btn-sns-google" }
              = link_to'/users/auth/google_oauth2', method: :post, class: 'google' do
                =image_tag '/google.svg', alt: '', height: '45', width: '60',class: "google-logo"
                Googleでログイン
        .login-form-inner
          .form-group
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "input-default", placeholder: "メールアドレス"
          .form-group
            = f.password_field :password, autocomplete: "password", class: "login-input-text input-default", placeholder: "パスワード"
          .form-group
            .g-recaptcha.login-captcha
              %div(style='width: 304px; height: 78px;')
                %div
                %iframe(src="https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1566858990656&size=normal&cb=5g00cprq2rp" width="304" height="78" role="presentation" name="a-n3piekgusv8m" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox")
          = f.submit "ログイン", class: 'login-submit btn-default btn-red'
          = link_to'', class: '' do
            パスワードをお忘れの方
            
  = render partial:"devise/footer"