.single-container

  = render partial:"devise/header"
  
  %main.single-main
    .login-panel
      = form_for(resource, as: resource_name, url: session_path(resource_name), ) do |f|
        .login-no-account
          %p アカウントをお持ちでない方はこちら
          = link_to'/users/sign_up', class: 'sign_up' do
            新規会員登録
        .login-form-inner
          .form-group
            %button{id: "facebook-login", class: "btn-default btn-sns btn-sns-facebook" }
              = link_to'/users/auth/facebook', method: :post, class: 'facebook' do
                = fa_icon "facebook-square"
                Facebookでログイン
            
          .form-group
            = link_to'/users/auth/google_oauth2', method: :post, class: 'btn-default btn-sns btn-sns-google', id: "google-login" do
              =image_tag '/google.svg', alt: '', height: '45', width: '60',class: "google-logo"
              %span.google Googleでログイン
        .login-form-inner
          .form-group
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "input-default", placeholder: "メールアドレス"
          .form-group
            = f.password_field :password, autocomplete: "password", class: "login-input-text input-default", placeholder: "パスワード"
          = f.submit "ログイン", class: 'login-submit btn-default btn-red'
          = link_to'', class: '' do
            パスワードをお忘れの方
            
  = render partial:"devise/footer"