.single-container

  = render partial:"devise/header"

  %main.single-main
    .login-panel
      .login-no-account
        %p アカウントをお持ちでない方はこちら
        -# = form_with  model: @user, url:step2_signup_index_path, method: :get, class: 'l-single-inner registration-form', local: true do |f|
        = link_to'/users/sign_up', class: 'sign_up' do
          新規会員登録
      
      .login-form-inner
        %button{id: "facebook-login", class: "btn-default btn-sns btn-sns-facebook" }
          = link_to' ', class: 'facebook' do
            = fa_icon "facebook-square"
            Facebookでログイン

        %button{id: "google-login", class: "btn-default btn-sns btn-sns-google" }
          = link_to' ', class: 'google' do
            =image_tag '/google.svg', alt: '', height: '45', width: '60',class: "google-logo"
          Googleでログイン

      %form{action: "", method: "POST", novalidate: "novalidate"}
        .login-form-inner
          .form-group
            %input{type: "email", name: "email", placeholder: "メールアドレス", class: "login-input-text input-default"}
          .form-group
            %input{type: "password", name: "password", placeholder: "パスワード", class: "login-input-text input-default"}
          .form-group
            .g-recaptcha.login-captcha
              %div(style='width: 304px; height: 78px;')
                %div
                  %iframe(src="https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1566858990656&size=normal&cb=5g00cprq2rp" width="304" height="78" role="presentation" name="a-n3piekgusv8m" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox")
                %textarea{id: "g-recaptcha-response", name: "g-recaptcha-response", class: "g-recaptcha-response", style:"width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;" }
          %button{type: "submit", class: "login-submit btn-default btn-red" }ログイン
          %input{type: "hidden", name: "login_callback", value: "/jp/"}
          %input{type: "hidden", name: "__csrf_value", value: "664e3912b7f684cc372db43cef311b0a95828e0f17f24fae1c3d8b6a5c4601df767bfbfec724e01eae9830e77c72e9d2dce80326b53eb5aa9c32fe623cc7c96c6"}
          = link_to'', class: '' do
            パスワードをお忘れの方
            
  = render partial:"devise/footer"