.item-main
  %header.item-header
    %h1
      =link_to "/" do
        =image_tag 'mercari_logo2.png', alt: 'mercari', height: '49', width: '185', class: 'item-header-logo'

  %main.main
    %section.main__item-box
      %h2.main__item-box__head 商品の情報を入力
      = form_for @item do |f|
        .sell-upload-box
          %h3.sell-upload-head
            .image-text 出品画像
            %span.form-require 必須
          %p.picture-limit 最大10枚までアップロードできます
          .image-drop-box
            %pre ドラッグアンドドロップ<br>またはクリックしてファイルをアップロード

        .sell-content
          .sell-content__form
            .text-require
              = f.label :商品名
              %span.form-require 必須
            = f.text_field :name, class: 'input-name', placeholder: "商品名 (必須40文字まで)"

          .sell-content__form{style: 'margin-top: 40px'}
            .text-require
              = f.label :商品の説明
              %span.form-require 必須
            = f.text_area :explanation, class: 'input-explanation', placeholder: "商品の説明 (必須1,000文字以内)　(色、素材、重さ、定価、注意点など)　例) 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: 5


  %footer.footer