.search-result
  = render partial: 'shared/header3'
  .result-content
    .search-sidebar
      .search
        = search_form_for#TODOフォームパスの指定
          .search_sort
            = f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' } , { onchange: 'this.form.submit()'} )
          .search_form
            .search__title
              %h3 詳細検索
            .search__group
              .search__group--label
                = fa_icon "search"
                %p キーワードを追加する
              = f.search_field :name_cont, class: "detail_search__group--form", placeholder: "例）値下げ"


    .item-box-container
