.search-result
  .result-content
    .search-sidebar
      .search
        = search_form_for(@q,url: search_result_path ) do |f|
          .search_sort
            = f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' } , { onchange: 'this.form.submit()'} )
          .search_form
            .search__title
              %h3 詳細検索
            .search__group
              .search__group--label
                = fa_icon "search"
                %p キーワードを追加する
              = f.search_field :name_cont, class: "search__group--form", placeholder: "例）値下げ"

            .search__group
              .search__group--label
                = fa_icon "search"
                %p カテゴリーを選択する
              = f.collection_select :category_id_in, @categories, :id, :name, {include_blank: "---"}, {class: "search__group--form", id: "category_parent", name: "q[category_id_in][]" }
              .display_none
                %select.search__group--form#category_children{name: "q[category_id_in][]"}
              .search__category_group

            .search__group
              .search__group--label
                = fa_icon "search"
                %p ブランド名から探す
              = f.search_field :brand_name_cont, class: "search__group--form", placeholder: "例）シャネル"

            .search__group
              .search__group--label
                = fa_icon "search"
                %p 価格
              .search__group--forms
                = f.search_field :price_gteq, class: "search__group--form detail_form-mini", placeholder: "¥ Min"
                %p 〜
                = f.search_field :price_lteq, class: "search__group--form detail_form-mini", placeholder: "¥ Max"
    
              .search__group
                .search__group--label
                  = fa_icon "search"
                  %p 商品の状態
                .search__group--checkbox
                  %label
                    %input{type: "checkbox", class: "detail_condition-all detail_checkbox"}
                    = 'すべて'
                .search__group--checkbox
                  %label
                    = f.check_box :state_in, {multiple: true, class: "detail_condition detail_checkbox"}, '1', nil
                    = '新品、未使用'
                .search__group--checkbox
                  %label
                    = f.check_box :state_in, {multiple: true, class: "detail_condition detail_checkbox"}, '2', nil
                    = '未使用に近い'
                .search__group--checkbox
                  %label
                    = f.check_box :state_in, {multiple: true, class: "detail_condition detail_checkbox"}, '3', nil
                    = '目立った傷や汚れなし'
                .search__group--checkbox
                  %label
                    = f.check_box :state_in, {multiple: true, class: "detail_condition detail_checkbox"}, '4', nil
                    = '送料込み(出品者負担)'
                .search__group--checkbox
                  %label
                    = f.check_box :state_in, {multiple: true, class: "detail_condition detail_checkbox"}, '5', nil
                    = 'やや傷や汚れあり'
                .search__group--checkbox
                  %label
                    = f.check_box :state_in, {multiple: true, class: "detail_condition detail_checkbox"}, '6', nil
                    = '傷や汚れあり'
                .search__group--checkbox
                  %label
                    = f.check_box :state_in, {multiple: true, class: "detail_condition detail_checkbox"}, '7', nil
                    = '全体的に状態が悪い'

              .search__group
                .search__group--label
                  = fa_icon "search"
                  %p 配送料の負担
                .search__group--checkbox
                  %label
                    %input{type: "checkbox", class: "detail_shipping_fee-all detail_checkbox"}
                    = 'すべて'
                .search__group--checkbox
                  %label
                    = f.check_box :fee_payer_in, {multiple: true, class: "detail_shipping_fee detail_checkbox"}, '1', nil
                    = '送料込み(出品者負担)'
                .search__group--checkbox
                  %label
                    = f.check_box :fee_payer_in, {multiple: true, class: "detail_shipping_fee detail_checkbox"}, '2', nil
                    = '着払い(購入者負担)'
                
              .search__group
                .search__group--label
                  = fa_icon "search"
                  %p 販売状況
                .search__group--checkbox
                  %label
                    %input{type: "checkbox", class: "detail_checkbox"}
                    = 'すべて'
                .search__group--checkbox
                  %label
                    = f.check_box :status_in, {multiple: true, class: "detail_checkbox"}, '0', nil
                    = '出品中'
                .search__group--checkbox
                  %label
                    = f.check_box :status_in, {multiple: true, class: "detail_checkbox"}, '1', nil
                    = '売却済み'
                          .search__btns
              .search__btn--grey
                = link_to search_path, "クリア",type: "button", class: "search__btn"
              = f.submit "完了", class: "search__btn  search__btn--red"
    .item-box-container
