.wrapper
  = render partial: 'shared/header2'
  .body
    -# todo:パンくず
    -# %nav.bread-crumbs
    .container
      .content
        -# ②支払い方法
        %main.mypage.clearfix
        .mypage__content2
          %section.identification.mypage-identification
            .identification__head 支払い方法
          .identification
            .identification__description
              %ul.settings-payment
                .settings-payment__sub-title クレジットカード一覧
                %li.settings-payment__list
                  -# %button.remove-butten{type: "submit"} 削除する
                  %figure.settings-payment__list__card-image
                  =image_tag "master-card.svg", alt: "card", class: "card-image",size: "30x45"
                  .settings-payment__list__num
                    = "**** **** **** " + @default_card_information.last4
                  .settings-payment__list__num
                    - exp_month = @default_card_information.exp_month.to_s
                    - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                    = exp_month + " / " + exp_year
                  = form_tag( '/card/delete', method: :delete, id: 'charge-form',  name: "inputForm") do
                    %input{ type: "hidden", name: "card_id", value: "" }
                    %button.remove-butten{type: "submit"} 削除する

            .text-right
              = link_to '支払い方法について', root_path, method: :get, class: 'text-right'
              %i.fa.fa-chevron-right

      .side-bar
      = render partial:"shared/side" 

    = render partial:"shared/aside"
    = render partial:"shared/footer"