.wrapper
  = render partial: 'shared/header'
  - breadcrumb :logout
  = render "shared/breadcrumbs"

  .body
    .container
      .content
        .logout
          = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'logout__link'

      .side-bar
      = render partial:"shared/side"

    = render partial:"shared/aside"
    = render partial:"shared/footer"
    = render partial:"shared/camera"